In [ ]:
!pip install plotly

In [ ]:
!pip install pandas

In [2]:
import pandas as pd

In [ ]:
!pip install chart_studio

In [3]:
import chart_studio.plotly as py

In [4]:
df = pd.read_csv("students.csv")

In [5]:
df.head()

,stud.id,name,gender,age,height,weight,religion,nc.score,semester,major,minor,score1,score2,online.tutorial,graduated,salary
1,833917,"Gonzales, Christina",Female,19,160,64.8,Muslim,1.91,1st,Political Science,Social Sciences,NaN,NaN,0,0,NaN
2,898539,"Lozano, T'Hani",Female,19,172,73.0,Other,1.56,2nd,Social Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
3,379678,"Williams, Hanh",Female,22,168,70.6,Protestant,1.24,3rd,Social Sciences,Mathematics and Statistics,45.0,46.0,0,0,NaN
4,807564,"Nem, Denzel",Male,19,183,79.7,Other,1.37,2nd,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN
5,383291,"Powell, Heather",Female,21,175,71.4,Catholic,1.46,1st,Environmental Sciences,Mathematics and Statistics,NaN,NaN,0,0,NaN

In [6]:
df.columns

Index(['stud.id', 'name', 'gender', 'age', 'height', 'weight', 'religion',
       'nc.score', 'semester', 'major', 'minor', 'score1', 'score2',
       'online.tutorial', 'graduated', 'salary'],
      dtype='object')